/************************************
* Portfolio - Rodrigo Florenciano
* FOOTER
************************************/

.footer-page { background-color: $color-base-text; }

// Rodrigo Florenciano 2017 + link Gmail
.name-link-footer { text-align: center; }

.btn-link-footer {
	&:hover, &:focus { text-decoration: underline; }
}

// Social Media links
.btn-social-media {
	color: $color-white;
	-webkit-transition: all .3s linear;
 	   -moz-transition: all .3s linear;
   		 -o-transition: all .3s linear;
     		transition: all .3s linear;
	&:hover, &:focus { color: $color-brand; }
}

/* RESPONSIVE */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.name-link-footer {  text-align: left; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}