/************************************
* Portfolio - Rodrigo Florenciano
* HEADER
************************************/

// Texto descritivo 'Quem sou eu'
.p-link_resumo { margin-bottom: 3rem; }

// Hastag tema dos projetos
.color-text-medium { color: $color-text-dark; }

/* RESPONSIVE */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	// btn resumo
	.p-btn-resumo { text-align: center;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}