/************************************
* Portfolio - Rodrigo Florenciano
* HEADER
************************************/

// test color
.header-theme-dark {
	background: $cor-primaria;
	.h1, p {
		color: $cor-branca;
	}
}

.header-theme-light {
	background: $cor-branca;
	.h1, p {
		color: $cor-primaria;
	}
}