/************************************
* Portfolio - Rodrigo Florenciano
* MAIN
************************************/

// test replace font-size:
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:700');

body {
	font-family: 'Noto Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Serif', serif;
	font-weight: 700;
}