/************************************
* TYPOGRAPHY
************************************/

//Google Fonts®
@import "font";

body { font-family: 'Rubik', sans-serif; }

/************************************
* COLORS
************************************/

$color-brand: #EC0047 !default; // #f5005A | #EC0047 (accessibility)
$color-brand-dark: darken($color-brand, 10%);
$color-white: #fff;
$color-base-text: #374650 ; // Blue Gray 800
$color-text-dark: lighten($color-base-text, 13%); // primary
$color-text-medium: lighten($color-base-text, 46%); // secondary
$color-text-muted: lighten($color-base-text, 72%); // disable
$color-border: lighten($color-base-text, 88%); // divider

body { color: $color-base-text; }
a {
	color: $color-brand;
	&:hover, :focus { color: $color-brand-dark; }
}
.color-text-medium { color: $color-text-medium; }
/************************************
* MIXINs
************************************/

@mixin box-shadow-portfolio($shadow) {
 	-webkit-box-shadow: $shadow;
		box-shadow: $shadow;
}

@mixin transition($transition) {
  	-webkit-transition: $transition;
       	-o-transition: $transition;
        transition: $transition;
}

