/************************************
* TYPOGRAPHY
************************************/

//Google Fonts®
@import url('https://fonts.googleapis.com/css?family=Rubik');

body { font-family: 'Rubik', sans-serif; }

/************************************
* COLORS
************************************/

$color-brand: #F5005A !default; // APink 400
$color-brand-dark: darken($color-brand, 10%);
$color-white: #fff;
$color-base-text: #374650 ; // Blue Gray 800 (material design) || #000
$color-text-dark: lighten($color-base-text, 13%); // primary
$color-text-medium: lighten($color-base-text, 46%); // secondary
$color-text-muted: lighten($color-base-text, 72%); // disable
$color-border: lighten($color-base-text, 12%); // divider

body { color: $color-base-text; }
a {
	color: $color-brand;
	&:hover, :focus { color: $color-brand-dark; }
}

/************************************
* MIXINs
************************************/

@mixin box-shadow-portfolio($shadow) {
 	-webkit-box-shadow: $shadow;
		box-shadow: $shadow;
}

@mixin transition($transition) {
  	-webkit-transition: $transition;
       	-o-transition: $transition;
        transition: $transition;
}

