/************************************
* Portfolio - Rodrigo Florenciano
* UI
************************************/


// Variables

/************************************
* TYPOGRAPHY
************************************/
// Definindo a tipografia do portfolio
// Importando do Google Fonts®

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');

body { font-family: 'Workin Sans', sans-serif; }

// .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 700; }

/************************************
* COLORS
************************************/
// Theme light
$cor-preto: #000 !default;
$preto-escuro: lighten($cor-preto, 13%); // primary
$preto-medio: lighten($cor-preto, 46%); // secondary
$preto-claro: lighten($cor-preto, 72%); // disable
$preto-borda: lighten($cor-preto, 12%); // divider

// Theme dark
$cor-branca: #fff !default; // primary
$branco-medio: lighten($cor-branca, 30%); // secondary
$branco-claro: lighten($cor-branca, 50%); // disable
$branco-borda: lighten($cor-branca, 12%); // divider

// Primary color
$cor-primaria: #4A148C !default; // test
